{% load i18n %}
{% block subject %}
{% autoescape off %}
Password Reset on {{ site_name }}
{% endautoescape %}
{% endblock %}

{% block text_body %}
{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:

http://localhost:3000/reset-password-confirm?uid={{ uid }}&token={{ token }}

If you didn't request this, you can ignore this email.

Thanks,
The {{ site_name }} team
{% endautoescape %}
{% endblock %}